.ingredient {
    background: url('https://i.ibb.co/qnPBVK1/ingrediantbg.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 6.25rem 0 6.55rem 0;
    color: #ffffff;

    .ingredientBody {
        background: #0000007e;

        padding: 5rem 2.625rem 0 2.625rem;

        .ingredientTitle {
            padding-bottom: 1.125rem;
            font-size: 3rem;

        }

        .ingredientParagraph {
            font-size: 1.3376rem;
            line-height: 24px;
            padding: 1.75rem 0 4.25rem 0;
        }

        .ingredientImg {
            position: relative;
            background: #8d918a5e;
            border-radius: 6rem;

        }
    }

}